@model QuizManager.Models.Quiz

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1> @Html.DisplayFor(model => model.Name)</h1>
@if (User.IsInRole("Edit"))
{
    <div>
        <a asp-action="Edit" asp-route-id="@Model.QuizId">rename</a>
    </div>
}

<div>
    <hr />
    <h4>Questions</h4>
    <dl class="row">
        <div class="container " id="quizDetailsQuestion">
            <ol>
                @{var counter = 1;
                    foreach (var question in @Model.Questions)
                    {
                        <li>
                            @if (User.IsInRole("Restricted"))
                            {
                                <span>@question.QuestionText</span>
                            }
                            else if(User.IsInRole("View"))
                            {
                                <div class="card">
                                    <div class="card-header" id="heading-@counter">
                                        <h2 class="mb-0">
                                            <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapse-@counter" aria-expanded="true" aria-controls="collapse-@counter">
                                                @question.QuestionText
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapse-@counter" class="collapse" aria-labelledby="heading-@counter" data-parent="#quizDetailsQuestion">
                                        <div class="card-body">
                                            @{
                                                var answerIndex = 'A';
                                                foreach (var answer in @question.AnswerOptions)
                                                {
                                                    <div>@answerIndex - @answer.AnswerText</div>
                                                    answerIndex++;
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="card">
                                    <div class="card-header d-flex" id="heading-@counter">
                                        <h2 class="mb-0 mr-auto p-2">
                                                <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapse-@counter" aria-expanded="true" aria-controls="collapse-@counter">
                                                    @question.QuestionText
                                                </button>

                                            </h2>
                                            <a class="p-2"asp-action="Edit" asp-controller="Questions" asp-route-id="@question.QuestionId">edit</a>
                                            <a class="p-2" asp-action="Delete" asp-controller="Questions" asp-route-id="@question.QuestionId">delete</a>
                                    </div>
                                    <div id="collapse-@counter" class="collapse" aria-labelledby="heading-@counter" data-parent="#quizDetailsQuestion">
                                        <div class="card-body">
                                            @{
                                                var answerIndex = 'A';
                                                foreach (var answer in @question.AnswerOptions)
                                                {
                                                    <div>@answerIndex - @answer.AnswerText</div>
                                                    answerIndex++;
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        </li>
                        counter += 1;
                    }
                }
            </ol>
        </div>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to Quiz List</a>
</div>
